@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
}

.header{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.formulario{
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
}

.label-input{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-form{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-submit{
    width: 100%;
    background-color: #433;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover{
    background-color: #555;
}

.footer{
    background-color: #331;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}